### Creating dataset with historical financial indicators for machine learning project

In [1]:

###
%matplotlib inline
import pandas as pd
import numpy as np

In [2]:
# setting datasets path
ttm = './datasets/'

In [3]:
# first step, importing csv files with financial information from Simfin
ttm_18 = pd.read_csv(ttm + 'ttm_09_30_2018.csv')
ttm_17 = pd.read_csv(ttm + 'ttm_09_30_2017.csv')
ttm_16 = pd.read_csv(ttm + 'ttm_09_30_2016.csv')
ttm_15 = pd.read_csv(ttm + 'ttm_09_30_2015.csv')
ttm_14 = pd.read_csv(ttm + 'ttm_09_30_2014.csv')
ttm_13 = pd.read_csv(ttm + 'ttm_09_30_2013.csv')
ttm_12 = pd.read_csv(ttm + 'ttm_09_30_2012.csv')
ttm_11 = pd.read_csv(ttm + 'ttm_09_30_2011.csv')
ttm_10 = pd.read_csv(ttm + 'ttm_09_30_2010.csv')
ttm_09 = pd.read_csv(ttm + 'ttm_09_30_2009.csv')

# importing sp500 constituents
sp500 = pd.read_csv(ttm + 'constituents_csv.csv')

In [4]:
# concatenating all datasets into single dataframe
ttm_list = [ttm_18, ttm_17, ttm_16, ttm_15, ttm_14, ttm_13, ttm_12, ttm_11, ttm_10, ttm_09]
merged_financials = pd.concat(ttm_list, axis = 0, ignore_index= True, join = 'outer')

In [5]:
merged_financials.head()

,period,company,sector,ticker,revenues,cogs,net_income,ebit,ebitda,chg_wc,...,debt_assets,dividends,cash_and_eq,curr_assets,curr_liab,sg_a,op_exp,net_interest_paid,pretax_income,taxes
0,9/30/18,1 800 FLOWERS COM INC,Retail - Apparel & Specialty,FLWS,"1,162",667,57,42,74,-5,...,18.30%,0,173,282,120,382,453,4,53,-4
1,9/30/18,1&1 Drillisch AG,Communication Services,DRI.DE,"3,999","2,732",394,635,765,-391,...,0.00%,-337,6,936,734,628,632,1,595,201
2,9/30/18,1ST SOURCE CORP,Banks,SRCE,292,NaN,71,101,108,-104,...,8.00%,-22,29,NaN,NaN,NaN,NaN,NaN,101,30
3,9/30/18,21st Century Fox,Entertainment,FOX,"29,351","19,156","3,961","5,973","6,540","-1,554",...,37.50%,-974,"5,809","17,402","8,055","3,655","4,222","1,208","4,065",-199
4,9/30/18,"2U, Inc.",Application Software,TWOU,314,117,-41,-43,-19,-8,...,0.00%,0,182,237,106,240,240,0,-43,-3

### Removing non voting shares from sp500 consituents
##### Also droping 'Financials' companies from dataset (out of scope for this project)
>symbols:
> GOOG,
> DISCK,
> NWS,
> FOX,
> UA.

In [6]:
# Indexing the 5 non voting tickers from dataset and financial companies. 
indexNames = sp500[(sp500['ticker'] == 'GOOG') | (sp500['ticker'] == 'DISCK')
                     | (sp500['ticker'] == 'NWS') | (sp500['ticker'] == 'FOX')
                    | (sp500['ticker'] == 'UA') | (sp500['sector'] == 'financials')].index
print(indexNames)

Int64Index([ 16,  49,  72,  75, 147, 148, 149, 150, 151, 152, 153, 154, 155,
            156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168,
            169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181,
            182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194,
            195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207,
            208, 209, 210, 211, 212, 213, 214, 215, 351],
           dtype='int64')

In [7]:
# Delete the row indexes above from dataFrame
sp500.drop(indexNames, inplace=True)

In [8]:
# creating an list of the remaing 431 companies
symbols = sp500['ticker'].tolist()
print(type(symbols))
print(len(symbols))

<class 'list'>
431

In [9]:
# filtering the dataframe with 
merged_financials = merged_financials[merged_financials['ticker'].isin(symbols)]

In [10]:
# simplifying sector names
final_df = pd.merge(merged_financials, sp500[['ticker', 'sector']], left_on = ['ticker'],
                    right_on = ['ticker'], how = 'left')

In [11]:
# dropping original sector name column
final_df.drop(['sector_x'], axis=1, inplace = True)

In [12]:
# changing column orders
cols = final_df.columns.tolist()
cols = cols[-1:] + cols[:-1]
final_df = final_df[cols]

In [13]:
# droping missing values
final_df.dropna(inplace = True)

In [14]:
final_df

,sector_y,period,company,ticker,revenues,cogs,net_income,ebit,ebitda,chg_wc,...,debt_assets,dividends,cash_and_eq,curr_assets,curr_liab,sg_a,op_exp,net_interest_paid,pretax_income,taxes
0,industrials,9/30/18,3M,MMM,"32,810","16,743","4,525","6,523","7,989",766,...,39.80%,"-3,105","3,523","14,419","7,336","7,702","9,544",197,"6,952","2,413"
1,health_care,9/30/18,ABBOTT LABORATORIES,ABT,"28,445","12,414",476,"2,414","5,513","1,540",...,30.90%,"-1,880","4,042","14,964","9,010","9,284","13,617",775,"1,926","1,550"
2,health_care,9/30/18,AbbVie Inc.,ABBV,"30,946","7,758","6,449","11,022","12,658",-697,...,60.20%,"-4,724","3,743","13,845","17,224","6,964","12,166","1,027","8,097","1,648"
3,information_tech,9/30/18,Accenture plc,ACN,"41,603","29,161","4,060","5,841","6,768",-193,...,0.10%,"-1,709","5,065","13,586","10,152","6,602","6,602",-37,"5,808","1,593"
4,information_tech,9/30/18,Activision Blizzard,ATVI,"7,267","2,528",506,"1,506","2,211",232,...,24.50%,-259,"4,857","6,134","2,060","2,128","3,233",114,"1,380",874
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4210,real_estate,9/30/09,WEYERHAEUSER CO,WY,"8,100","7,508","-1,176","-2,601","-1,912",-23,...,0.00%,-507,0,0,0,996,"3,193",48,"-2,809",-900
4212,energy,9/30/09,WILLIAMS COMPANIES INC,WMB,"11,890",0,"1,418","2,686","3,996",-223,...,29.60%,-250,"1,438","4,411","3,519",504,"9,204",577,"2,144",677
4213,utilities,9/30/09,Wisconsin Energy Corporation,WEC,"4,402","2,459",359,655,985,23,...,37.60%,-126,33,"1,708","1,735",0,"1,288",154,570,215
4216,utilities,9/30/09,Xcel Energy Inc,XEL,"11,203","6,802",641,"1,391","2,234",-170,...,35.00%,-382,249,"3,016","3,046","1,778","3,011",553,984,339
4217,information_tech,9/30/09,Xerox Corp.,XRX,"17,608","10,448",230,651,"1,320",-57,...,37.40%,-154,"1,229","8,150","5,450","4,534","6,509",305,-79,-231

In [15]:
# creating new dataset with companies that have at leats 3 years of financial data
companies = final_df.groupby('company')
companies = companies.filter(lambda x: len(x) > 3)

In [16]:
# changing datatypes and using a dictionary to convert specific columns
companies.columns

Index(['sector_y', 'period', 'company', 'ticker', 'revenues', 'cogs',
       'net_income', 'ebit', 'ebitda', 'chg_wc', 'r_and_d', 'assets', 'debt',
       'equity', 'gross_margin', 'operating_margin', 'net_margin', 'roe',
       'roa', 'fcf_net_income', 'current_ratio', 'liab_equity', 'debt_assets',
       'dividends', 'cash_and_eq', 'curr_assets', 'curr_liab', 'sg_a',
       'op_exp', 'net_interest_paid', 'pretax_income', 'taxes'],
      dtype='object')

In [17]:
# removing '%' from ratio columns and changing it to float.
companies['gross_margin'] = companies['gross_margin'].str.rstrip('%').astype('float') / 100.0
companies['operating_margin'] = companies['operating_margin'].str.rstrip('%').astype('float') / 100.0
companies['net_margin'] = companies['net_margin'].str.rstrip('%').astype('float') / 100.0
companies['roe'] = companies['roe'].str.rstrip('%').astype('float') / 100.0
companies['roa'] = companies['roa'].str.rstrip('%').astype('float') / 100.0
companies['fcf_net_income'] = companies['fcf_net_income'].str.rstrip('%').astype('float') / 100.0
companies['current_ratio'] = companies['current_ratio'].str.rstrip('%').astype('float') / 100.0
companies['liab_equity'] = companies['liab_equity'].str.rstrip('%').astype('float') / 100.0
companies['debt_assets'] = companies['debt_assets'].str.rstrip('%').astype('float') / 100.0

/Users/marcos_ribeiro/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/marcos_ribeiro/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/marcos_ribeiro/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/Users/marcos_ribeiro/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/Users/marcos_ribeiro/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/marcos_ribeiro/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/Users/marcos_ribeiro/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/marcos_ribeiro/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/Users/marcos_ribeiro/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [18]:
# Removing commans from all interger columns
cols = ['revenues', 'cogs', 'net_income', 'ebit', 'ebitda', 'chg_wc', 'r_and_d', 'assets', 'debt',
       'equity', 'dividends', 'cash_and_eq', 'curr_assets', 'curr_liab', 'sg_a','op_exp',
        'net_interest_paid', 'pretax_income', 'taxes']

# pass them to df.replace(), specifying each char and it's replacement:
companies[cols] = companies[cols].replace({',': ''}, regex=True)

/Users/marcos_ribeiro/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:3494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [19]:
# converting string objects to integers
convert_dict = {'revenues':int,
'cogs':int,
'net_income':int,
'ebit':int,
'ebitda':int,
'chg_wc':int,
'r_and_d':int,
'assets':int,
'debt':int,
'equity':int,
'dividends':int,
'cash_and_eq':int,
'curr_assets':int,
'curr_liab':int,
'sg_a':int,
'op_exp':int,
'net_interest_paid':int,
'pretax_income':int,
'taxes':int}
companies = companies.astype(convert_dict)

In [20]:
# converting period to date format
companies['period']= pd.to_datetime(companies['period'])

In [21]:
companies.dtypes

sector_y                     object
period               datetime64[ns]
company                      object
ticker                       object
revenues                      int64
cogs                          int64
net_income                    int64
ebit                          int64
ebitda                        int64
chg_wc                        int64
r_and_d                       int64
assets                        int64
debt                          int64
equity                        int64
gross_margin                float64
operating_margin            float64
net_margin                  float64
roe                         float64
roa                         float64
fcf_net_income              float64
current_ratio               float64
liab_equity                 float64
debt_assets                 float64
dividends                     int64
cash_and_eq                   int64
curr_assets                   int64
curr_liab                     int64
sg_a                          int64
op_exp                        int64
net_interest_paid             int64
pretax_income                 int64
taxes                         int64
dtype: object

#### Creating Financial Ratios additional financial ratios

In [22]:
# payout_ratio
companies['pay_out_ratio'] = companies['dividends']*-1/companies['net_income']

# net_debt_ebitda
companies['net_debt_ebitda'] = (companies['debt'] - companies['cash_and_eq'])/companies['ebitda']

# net_interest_ebitda
companies['net_interest_ebitda'] = companies['net_interest_paid']/companies['ebitda']

# net_debt_equity
companies['net_debt_equity'] = (companies['debt'] - companies['cash_and_eq'])/companies['equity']

# asset_turn_over
companies['asset_turn_over'] = companies['revenues']/companies['assets']

# fcf
companies['free_cash_flow'] = round(companies['net_income'] * companies['fcf_net_income'],0).astype(int)

# fcf_dividends
companies['fcf_dividends'] = companies['dividends']*-1/companies['free_cash_flow']

# debt_to_fcf
companies['debt_to_fcf'] = (companies['debt'] - companies['cash_and_eq'])/companies['free_cash_flow']

# fcf_sales
companies['fcf_revenues'] = companies['free_cash_flow']/companies['revenues']

# interest_coverage_fcf
companies['interest_coverage_fcf'] = companies['net_interest_paid']/companies['free_cash_flow']

# sg_a_ratio
companies['sg_a_ratio'] = companies['sg_a']/companies['revenues']

# op_expense_ratio
companies['op_expense_ratio'] = companies['op_exp']/companies['revenues']

# r_and_d_ratio
companies['r_and_d_ratio'] = companies['r_and_d']/companies['revenues']

# cash_ratio
companies['cash_ratio'] = companies['cash_and_eq']/companies['curr_liab']

# wk_turover
companies['wk_turnover'] = (companies['curr_assets'] - companies['curr_liab'])/companies['revenues']

# ebitda_margin
companies['ebitda_margin'] = companies['ebitda']/companies['revenues']

# ebit_margin
companies['ebit_margin'] = companies['ebit']/companies['revenues']

# pre_tax_margin
companies['pre_tax_margin'] = companies['pretax_income']/companies['revenues']

#tax_to_revenues
companies['tax_to_revenues'] = companies['taxes']/companies['revenues']

In [23]:
companies.columns

Index(['sector_y', 'period', 'company', 'ticker', 'revenues', 'cogs',
       'net_income', 'ebit', 'ebitda', 'chg_wc', 'r_and_d', 'assets', 'debt',
       'equity', 'gross_margin', 'operating_margin', 'net_margin', 'roe',
       'roa', 'fcf_net_income', 'current_ratio', 'liab_equity', 'debt_assets',
       'dividends', 'cash_and_eq', 'curr_assets', 'curr_liab', 'sg_a',
       'op_exp', 'net_interest_paid', 'pretax_income', 'taxes',
       'pay_out_ratio', 'net_debt_ebitda', 'net_interest_ebitda',
       'net_debt_equity', 'asset_turn_over', 'free_cash_flow', 'fcf_dividends',
       'debt_to_fcf', 'fcf_revenues', 'interest_coverage_fcf', 'sg_a_ratio',
       'op_expense_ratio', 'r_and_d_ratio', 'cash_ratio', 'wk_turnover',
       'ebitda_margin', 'ebit_margin', 'pre_tax_margin', 'tax_to_revenues'],
      dtype='object')

In [24]:
# droping unecessary absolute numeric columns
companies.drop(cols, axis=1, inplace = True)

In [25]:
# reseting the dataframe index
companies = companies.reset_index(drop=True)

In [82]:
# creating a dataset with all tickers in order to get historical stocks' price changes on Yahoo
final_tickers = companies[['ticker', 'company', 'sector_y', 'period']].\
                sort_values(by = ['ticker', 'period']).reset_index(drop=True)

In [236]:
# exporting both df to csv format.
companies.to_csv(ttm + 'final_companies_dataset.csv')